// Measurements

// Media Queries
$BaseMediaTiny: 530px;
$BaseMediaSm: 676px;
$BaseMediaMd: 1024px;
$BaseMediaLg: 1280px;

// Base Measurement
$Base: 40px;


// Body
$BaseMaxWidth: 1440px;

// Hovers
$BaseLighten: 5%;

//Buttons
$ButtonHeight: 54px;
