// Sitewide Palette
$ClrWhite: #fff;
$ClrBlack: #000;
$ClrSky: #2f86ff;
$ClrCloudy: #d7e3f2;
$ClrNight: #295ec3;
$ClrMidnight: #1a1f5b;
$ClrBark: #45484b;
$ClrShell: #f5f7fa;
$BasicGradient: linear-gradient( to bottom right, #69a8ff 20%, #69a8ff, #88baff 70%, #88baff);


body{
  background-color: $ClrShell;
  color: $ClrBark;
}

//Border Colors
$BasicBorder: 1px solid $ClrCloudy;

//Shadow Colors
$BasicShadow: -4px 7px 20px rgba( $ClrNight, 0.15);

main {
  background-color: $ClrWhite;
  box-shadow: $BasicShadow;
}

// Text Colors
.txt-clr-bark {
  color: $ClrBark !important;
}

.txt-clr-white {
  color: $ClrWhite !important;
}

.txt-clr-sky {
  color: $ClrSky !important;
}

.txt-clr-night {
  color: $ClrNight !important;
}

.txt-clr-midnight {
  color: $ClrMidnight !important;
}

a {
  color: $ClrNight;
}


// Background Colors
.bg-clr-white {
  background-color: $ClrWhite;
}

.bg-clr-shell {
  background-color: $ClrShell;
}


