// Sitewide Palette
$ClrWhite: #fff;
$ClrBlack: #000;
$ClrSky: #2f86ff;
$ClrCloudy: #d7e3f2;
$ClrNight: #295ec3;
$ClrMidnight: #1a1f5b;
$ClrBark: #45484b;
$ClrShell: #f5f7fa;
$BasicGradient: linear-gradient( to bottom right, #69a8ff 20%, #69a8ff, #88baff 70%, #88baff);


body{
  background-color: $ClrShell;
  color: $ClrBark;
}

//Border Colors
$BasicBorder: 1px solid $ClrCloudy;

//Shadow Colors
$BasicShadow: -4px 7px 20px rgba( $ClrNight, 0.15);

main {
  background-color: $ClrWhite;
  box-shadow: $BasicShadow;
}

// Text Colors
.txt-clr-bark {
  color: $ClrBark !important;
}

.txt-clr-white {
  color: $ClrWhite !important;
}

.txt-clr-sky {
  color: $ClrSky !important;
}

.txt-clr-night {
  color: $ClrNight !important;
}

.txt-clr-midnight {
  color: $ClrMidnight !important;
}


// Background Colors
.bg-clr-white {
  background-color: $ClrWhite;
}

.bg-clr-shell {
  background-color: $ClrShell;
}



.hero {
  .inner {
    h1 {
      margin-bottom: 0;
    }
    padding-right: 0;
  }
}

.anchor-map {
  .inner {
    .container {
      .block {
        padding-right: $Base;

        .icon {
          align-items: center;
          border-radius: 50%;
          box-shadow: $BasicShadow;
          display: flex;
          flex-direction: row;
          height: $Base * 2;
          justify-content: center;
          margin-bottom: $Base / 2;
          width: $Base *2;
        }

        .row {
          .h5 {
            margin: 0;
          }

          svg {
            margin-right: $Base / 4;
          }
        }

        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }
}

.process {
  background: $BasicGradient;

  .inner {
    .container {
      padding-left: 0;

      .block:first-child {
        align-self: flex-start;
        flex: 0;

        .anchor {
          color: $ClrWhite;
        }
        
      }

      .block:last-of-type {
        flex: 2;
        padding-left: $Base * 1.5;

        h2 {
          margin: 0;
        }
      }
      
    }
  }
}

.expert-systems {
  background-color: $ClrShell;

  .inner {
    .container {
      position: relative;
      text-align: center;

      h2 {
        margin: 0;
      }

      .btn {
        margin-top: $Base * 2;
        position: relative;
        z-index: 2;
      }

      &:after {
        @extend .button-line-styles;
      }
    }
  }
}

.team {
  text-align: center;

  .inner {
    .container {
      padding-left: 0;
      position: relative;

      &:after {
        @extend .button-line-styles;
        bottom: $Base * 1.5 !important;
      }

      h2 {
        margin: 0 0 $Base / 4 0;

        ~p {
          margin: 0 auto;
          max-width: 520px;
        }
      }

      .block:first-child {
        align-self: flex-start;
        flex: 0;
        
      }

      .content {
        width: 100%;

        .row {
          padding-top: $Base * 2;
          position: relative;
          z-index: 2;

          .block {
            box-shadow: none;
            flex: 1;
            margin: 0 $Base / 2;
            transition-duration: 0.5s;

            &:hover {
              box-shadow: $BasicShadow;
            }

            &:first-of-type {
              margin-left: 0;
            }

            &:last-of-type {
              margin-right: 0;
            }

            .image-container {
              padding-top: 100%;
              width: 100%;
            }

            .info {
              background-color: $ClrWhite;
              padding: $Base / 4;

              .title {
                @extend .anchor;
                color: $ClrNight;
                padding: $Base / 6 0;
                white-space: initial !important;


              }

              .h5 {
                margin: 0;
              }
            }

          }
        }
      }

    }
  }
}



.team-pic {
  .inner {
    padding: 0;

    .container {
      .image-container {
        padding-top: 50%;
        width: 100%;
      }
    }
  }
}

.cta {
  background: $BasicGradient;

  .inner {
    .container {
      padding-left: 0;
      position: relative;

      &:after {
        @extend .button-line-styles;
      }

      h2 {
        margin: 0;
      }

      .block:first-child {
        align-self: flex-start;
        flex: 0;

        .anchor {
          color: $ClrWhite;
        }
        
      }

      .content {
        padding: 0 $Base;
        position: relative;
        text-align: center;
        z-index: 2;
      }
      
    }
  }
}

.privacy-policy {
  border-bottom: $BasicBorder;

  &:after {
    content: none;
  }
}
