// typography

@font-face {
  font-family: 'Maven_Medium';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/mavenpro-medium.woff') format('woff');
}

@font-face {
  font-family: 'Maven_Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/mavenpro-bold.woff') format('woff');
}

//TODO Switch WOFF file to sofia regular
@font-face {
  font-family: 'Sofia_Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/mavenpro-regular.woff') format('woff');
}

@font-face {
  font-family: 'Sofia_Light';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/sofiapro-light.woff') format('woff');
}


$FntBody: 'Sofia_Regular', 'Helvetica', sans-serif;
$FntHeader: 'Maven_Medium', 'Helvetica', sans-serif;
$FntBold: 'Maven_Bold', 'Helvetica', sans-serif;
$FntLight: 'Sofia_Light', 'Helvetica', sans-serif;

$FntBaseSize: 16px;

body,
html {
  font-family: $FntBody;
  font-size: $FntBaseSize;
}

// #####################################
// selections
// #####################################

::-moz-selection {
  background: $ClrNight;
  color: $ClrWhite;
  opacity: 100%;
}

::selection {
  background: $ClrNight;
  color: $ClrWhite;
  opacity: 100%;
}

// #####################################
// modifiers
// #####################################

.fnt-body {
  font-family: $FntBody;
  font-weight: 400;
}

.txt-center {
  align-items: center;
}

// #####################################
// headers
// #####################################

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $ClrBark;
  font-family: $FntHeader;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1,
.h1, h2, .h2 {
  font-size: 3rem;
  letter-spacing: -1rem;
  line-height: 1.3;
  @media (max-width: $BaseMediaMd) {
  
  }
  @media (max-width: $BaseMediaSm) {
    
  }
}

h3,
.h3 {
  font-size: 2.375rem;
  line-height: 1.3;
  @media (max-width: $BaseMediaMd) {

  }
  @media (max-width: $BaseMediaSm) {
  
  }
}

h4,
.h4 {
  font-size: 1.5rem;
  letter-spacing: -0.15rem;
  line-height: 1.3;
  @media (max-width: $BaseMediaMd) {
 
  }
  @media (max-width: $BaseMediaSm) {
   
  }
}


h5,
.h5 {
  font-family: $FntBold;
  font-size: 1.25rem;
  @media (max-width: $BaseMediaMd) {

  }
  @media (max-width: $BaseMediaSm) {
  
  }
}

h6,
.h6 {
  font-size: 0.875rem;
  letter-spacing: 0.25rem;
  @media (max-width: $BaseMediaMd) {

  }
  @media (max-width: $BaseMediaSm) {
  
  }
}

.anchor {
  font-family: $FntHeader;
  font-size: 0.8125rem;
  letter-spacing: 1.4rem;
  text-transform: uppercase;
}

// #####################################
// body copy
// #####################################

.caption, p, .p, .p-lg {
  font-family: $FntBody;
}

.caption {
  font-size: 1rem;
  letter-spacing: 1.64rem;
  text-transform: uppercase;
}

blockquote {
  font-family: $FntLight;
  font-size: 2rem;
  line-height: 1.375;
}

p,
.p {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-top: $Base / 4;

  @media (max-width: $BaseMediaMd) {

  }
  @media (max-width: $BaseMediaMd) {
  
  }
}

.p {
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  line-height: 1.65;
  margin-top: $Base / 4;
  
  @media (max-width: $BaseMediaMd) {

  }
  @media (max-width: $BaseMediaMd) {
  
  }
}


