<?xml version="1.0" encoding="UTF-8"?>
<svg width="27px" height="36px" viewBox="0 0 27 36" version="1.1">
    <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
    <title>Path 5</title>
    <desc>Created with Sketch.</desc>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-174.000000, -95.000000)" stroke="#2F86FF" stroke-width="2">
            <polyline points="175 96 199 113.709409 175 130"></polyline>
        </g>
    </g>
</svg>