<section class="contact-modal" id="contact-modal">
    <div class="inner txt-center">
        <div class="exit" data-contact="exit">
            {% include exit.html %}
        </div>
        <h2>Get In Touch</h2>
        <p>We are actively seeking partnership and alliances with health systems. To learn more or inquire, please fill out the
        form below and we’ll get back to you.</p>
        <form>
            <label>Email Address*</label>
            <input type="text">
            <label>Full name</label>
            <input type="text">
            <label>Company</label>
            <input type="text">
            <label>How can we help you?</label>
            <input type="text">
            <button type="submit">Submit</button>
        </form>
    </div>
</section>