<section class="contact-modal" id="contact-modal">
    <div class="inner txt-center">
        <div class="exit" data-contact="exit">
            {% include exit.html %}
        </div>
        <h2>Get In Touch</h2>
        <p>We are actively seeking partnership and alliances with health systems. To learn more or inquire, please fill out the
        form below and we’ll get back to you.</p>
        <form action="https://formspree.io/contact@m2medintel.com" method="POST" >
            <label for="email">Email Address*</label>
            <input type="text" title="email" name="_replyto" for="email">
            <label for="name">Full name</label>
            <input type="text" title="name" name="name" for="name">
            <label for="company" >Company</label>
            <input type="text" title="company" name="company" for="company">
            <label for="message">How can we help you?</label>
            <input type="text" title="message" name="message" for="message">
            <input class="btn" type="submit" value="Submit">
        </form>
    </div>
</section>