<?xml version="1.0" encoding="UTF-8"?>
<svg width="53px" height="53px" viewBox="0 0 53 53" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-1295.000000, -64.000000)" fill="#2F86FF">
            <g transform="translate(1295.000000, 64.000000)">
                <polygon points="1.65908545 0 0 1.65908545 51.3407186 53 53 51.3407186"></polygon>
                <polygon points="51.3407186 0 0 51.3407186 1.65908545 53 53 1.65908545"></polygon>
            </g>
        </g>
    </g>
</svg>