<footer>
  <div class="inner">
    <div class="container row two-block-padding">
      <div class="block">
          <img src="/assets/images/logo-horizontal.png" alt="M2 Medical Intelligence Logo">
          <p>©{{ 'now' | date: "%Y" }} M2 Medical Intelligence</p>
      </div>
      <div class="block">
        <div class="h5 txt-clr-midnight">Sales</div>
        <ul class="row">
          <li>
            <p><a href="tel:7753939486">
              +1 775 393 9486
            </a></p>
          </li>
          <li>
            <p><a href="/privacy-policy">
              Privacy Policy
            </a></p>
          </li>
          <li>
            <p><a href="mail:contact@m2medintel.com">
                contact@m2medintel.com
            </a></p>
          </li>
          <li>
            <p><a href="/terms">
              Terms
            </a></p>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</footer>
