<header class="padding-top-none padding-bottom-none no-background">
    <div class="inner row">
        <a href="/"><img class="large" src="/assets/images/logo.png"></a>
        <nav class="no-scroll">
            <ul class="row">
                <li>
                    <a href="#process">
                        Process
                    </a>
                </li>
                <li>
                    <a href="#leadership">
                        Leadership
                    </a>
                </li>
                <li>
                    <a href="#partnerships">
                        Partnerships
                    </a>
                </li>
            </ul>
        </nav>
        <div class="cta-button h5" data-contact="open">
            Sales
        </div>
    </div>
</header>