<header class="padding-top-none padding-bottom-none">
    <div class="inner row">
        <img src="/assets/images/logo.png">
        <nav>
            <ul class="row">
                <li>
                    <a href="">
                        Process
                    </a>
                </li>
                <li>
                    <a href="">
                        Leadership
                    </a>
                </li>
                <li>
                    <a href="">
                        Partnerships
                    </a>
                </li>
            </ul>
        </nav>
        <a class="cta-button h5" href="/">
            Sales
        </a>
    </div>
</header>