
.row {
  align-items: center;
  display: flex;
  flex-direction: row;

  .block {
    flex: 1;
  }

  &.align-top {
    align-items: flex-start;
  }

  &.align-bottom {
    align-items: flex-end;
  }

  &.two-block-padding {
    .block:first-of-type {
      padding-right: $Base;
      @media (max-width: $BaseMediaMd) {
        padding-right: $Base / 2;
      }
    }

    .block:last-of-type {
      padding-left: $Base;
      @media (max-width: $BaseMediaMd) {
        padding-left: $Base / 2;
      }
    }
  }
}
