// Section wrapper

section, article {
  padding-bottom: $Base * 3;
  padding-top: $Base * 3;
  width: 100%;

  &.padding-bottom-half {
    padding-bottom: $Base * 1.5;
    @media( max-width: $BaseMediaSm ){
    
    }
  }

  &.padding-bottom-none {
    padding-bottom: 0;
  }

  &.padding-top-half {
    padding-top: $Base * 1.5;
    @media( max-width: $BaseMediaSm ){
     
    }
  }

  &.padding-top-none {
    padding-top: 0;
  }


  .inner {
    margin: 0 auto;
    max-width: $BaseMaxWidth;
    padding: 0 $Base * 2.5;

    @media (max-width: $BaseMediaSm) {
     
    }
    @media (max-width: $BaseMediaTiny) {
  
    }

    .container {
      margin-left: $Base * 2;
      width: 100%;
    }
  }
}
