// Section wrapper

section, article {
  width:100%;

  //standard margin on top of section
  &.margin-top {
    margin-top: $Base * 2;
    @media( max-width: $BaseMediaMd ) {
      margin-top: $Base * 1.75;
    }
    @media( max-width: $BaseMediaSm ) {
      margin-top: $Base * 1.25;
    }
  }

  //show overflow
  &.overflow-visible {
    overflow: visible;
  }

  //standard padding on bottom
  &.padding-bottom {
    padding-bottom: $Base * 2;
    @media( max-width: $BaseMediaSm ){
      padding-bottom: $Base;
    }
  }

  //half padding on bottom
  &.padding-bottom-half {
    padding-bottom: $Base;
    @media( max-width: $BaseMediaSm ){
      padding-bottom: $Base / 2;
    }
  }

  //no padding on bottom
  &.padding-bottom-none {
    padding-bottom: 0;
  }

  //half padding on top
  &.padding-top-half {
    padding-top: $Base;
    @media( max-width: $BaseMediaSm ){
      padding-top: $Base / 2;
    }
  }

  //standard padding on top
  &.padding-top {
    padding-top: $Base * 2;
    @media( max-width: $BaseMediaSm ){
      padding-top: $Base;
    }
  }

  // no padding on top
  &.padding-top-none {
    padding-top: 0;
  }


  .inner {
    margin: 0 auto;
    max-width: $BaseMaxWidth;
    padding: 0 $Base;
    @media (max-width: $BaseMediaSm) {
      padding: 0 $Base / 2;
    }
    @media (max-width: $BaseMediaTiny) {
      padding: 0 $Base / 4;
    }
  }
}
