// Section wrapper

.border-styles {
  content: '';
  height: $Base * 5;
  left: $Base * 2.5;
  position: absolute;
  top: 0;
  width: 1px;
  z-index: 1;
  @media (max-width: $BaseMediaMd){
    left: $Base;
  }
  @media (max-width: $BaseMediaSm){
    left: $Base / 2;
  }
}

section, footer, header {
  padding-bottom: $Base * 3;
  padding-top: $Base * 3;
  position: relative;
  width: 100%;
  @media (max-width: $BaseMediaMd){
    padding-bottom: $Base * 2;
    padding-top: $Base * 2;
  }

  &:after {
    @extend .border-styles;
    border-left: $BasicBorder;
    height: 100%;
  }

  &.start-border:before {
    @extend .border-styles;
    background: linear-gradient(to bottom, $ClrWhite #{$Base / 2}, $ClrWhite, $ClrCloudy);
    z-index: 2;
  }


  &.padding-bottom-half {
    padding-bottom: $Base * 1.5;
    @media( max-width: $BaseMediaMd ){
      padding-bottom: $Base;
    }
  }

  &.padding-bottom-none {
    padding-bottom: 0;
  }

  &.padding-top-half {
    padding-top: $Base * 1.5;
    @media( max-width: $BaseMediaMd ){
      padding-top: $Base;
    }
  }

  &.padding-top-none {
    padding-top: 0;
  }


  .inner {
    margin: 0 auto;
    max-width: $BaseMaxWidth;
    padding: 0 $Base * 2.5;
    @media (max-width: $BaseMediaMd){
      padding: 0 $Base;
    }

    @media (max-width: $BaseMediaSm) {
      padding: 0 $Base / 2;
    }


    .container {
      padding-left: $Base * 2;
      width: 100%;
      @media (max-width: $BaseMediaMd){
        padding-left: $Base;
      }
      @media (max-width: $BaseMediaSm) {
        padding-left: $Base / 2;
      }

      .block {
        .anchor {
          border: $BasicBorder;
          padding: $Base / 8 $Base / 2;
        }
      }
    }
  }
}
