---
layout: default
title: Home
---

<section class="hero start-border">
  <div class="inner">
    <div class="container">
      <div class="caption">M2 Medical Intelligence</div>
      <h1 class="txt-clr-midnight">Leading intelligence-driven healthcare solutions</h1>
      <p class="p-lg">
          Designed by and for frontline healthcare professionals.
      </p>
    </div>
  </div>
</section>

<section class="anchor-map padding-top-half">
  <div class="inner">
    <div class="container row align-top">
      {% for item in site.data.pillars %}
        <div class="block">
          <div class="icon">
            s
          </div>
          <div class="row">
            {% include arrow.html %}
            <div class="h5">{{ item.title }}</div>
          </div>
          <p>{{ item.description }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="process" id="process">
  <div class="inner">
    <div class="container row">
      <div class="block">
        <div class="anchor">Our Process</div>
      </div>
      <div class="block">
          {% include statera.html %}
      </div>
      <div class="block">
        <h2 class="txt-clr-white">Better Patient Outcomes</h2>
        <p class="p-lg txt-clr-white">
            Statera™ manages complex data to produce easy to understand outputs, resulting in cost-effective improvements in patient outcomes and prevents the spread of antibiotic resistance.
        </p>
      </div>
      
    </div>
  </div>
</section>

<section class="expert-systems">
  <div class="inner">
    <div class="container">
        <div class="caption txt-center">Efficient & Superior Care</div>
        <h2 class="txt-center">Comprehensive Expert Systems</h2>
        <div class="row align-top two-block-padding">
          <p class="blockquote block">
            The Statera™ Platform analyzes data in seconds, allowing for appropriate antimicrobial therapy while optimizing patient outcomes. 
          </p>
          <p class="block">
            Standards of Care in the healthcare industry are constantly evolving, Statera™ empowers superior antibiotic solutions without burdening internal support systems.
          </p>
        </div>
        <a href="" class="btn">
          Request Information
        </a>
    </div>
  </div>
</section>

<section class="team padding-bottom-half" id="leadership">
  <div class="inner">
    <div class="container row">
      <div class="block">
        <div class="anchor">Leadership</div>
      </div>
      <div class="content">
        <h2 class="txt-clr-midnight">Our Team</h2>
        <p class="p-lg">M2 Medical Intelligence was founded by a team of healthcare experts, leading technological and data scientists. We’ve create leading intelligence-driven healthcare solutions with robust systems designed by practitioners for practitioners.</p>
        <div class="row">
            {% for member in site.data.team %}
              <div class="block">
                <div class="image-container">
                  <img src="{{ member.image }}" alt="Photo of {{ member.name }}">
                </div>
                <div class="info">
                  <div class="h5">
                    {{ member.name }}{% if member.md %}, MD{% endif %}
                  </div>
                  <div class="title">
                    {{ member.title }}
                  </div>
                  <a href="{{ member.linkedIn }}" target="_blank">
                      {% include linkedIn.html %}
                  </a>
                </div>
              </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="advisors" >
  <div class="inner">
    <div class="container">
      <h2 class="h3 txt-clr-midnight">Our Expert Advisors</h2>
      <div class="row">
          {% for advisor in site.data.advisors %}
            <div class="block">
              <div class="h5">
                  {{ advisor.name }}{% if advisor.phD %}, Ph.D. {% endif %}
              </div>
              <div class="title">
                  {{ advisor.title }}{% if advisor.employer %}, {{ advisor.employer }}{% endif %}
              </div>
              <a href="{{advisor.linkedIn}}" target="_blank">
                  {% include linkedIn.html %}
              </a>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="team-pic padding-top-none padding-bottom-none">
  <div class="inner">
    <div class="container">
      <img src="/assets/images/team.jpg" alt="">
    </div>
  </div>
</section>

<section class="cta" id="partnerships">
  <div class="inner">
    <div class="container row align-top">
      <div class="block">
        <div class="anchor">Our Process</div>
      </div>
      <div class="content">
        <h2 class="txt-clr-white txt-center">Want to Work Together?</h2>
        <p class="txt-clr-white txt-center">Partnering with us means reduced cost of care, improved patient safety and care outcomes, and re-establishing antibiotic susceptibilities for your facility.</p>
        <a href="" class="btn">Partner with Us</a>
      </div>
    </div>
  </div>
</section>

{% comment %}


{% endcomment %}

