---
layout: default
title: Home
---

{% include team-slider.html %}
{% include contact-modal.html %}

<section class="hero start-border padding-top-none padding-bottom-half">
  <div class="inner">
    <div class="container row">
      <div class="block">
        <h1 class="txt-clr-midnight">Our technology saves you from the day when antibiotics are no longer effective at treating infections</h1>
        <p class="p-lg">
            Solutions designed by and for frontline healthcare professionals
        </p>
      </div>
      <div class="block image-container">
        {% include swoosh.html %}
        <img src="/assets/images/sample.jpg" alt="Gloved hand holding medical sample in glass container" title="Gloved hand holding medical sample in glass container">
      </div>
    </div>
  </div>
</section>

<section class="anchor-map padding-top-none">
  <div class="inner">
    <div class="container row align-top">
      {% for item in site.data.pillars %}
        <div class="block">
          <div class="icon">
            {% include {{ item.icon }} %}
          </div>
          <div class="content-container">
            <a class="row" href="#{{ item.id }}">
              {% include arrow.html %}
              <div class="h5">{{ item.title }}</div>
            </a>
            <p>{{ item.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="process" id="process">
  <div class="inner">
    <div class="container row">
      <div class="block">
        <div class="anchor">Our Process</div>
      </div>
      <!--<div class="block">
          {% include statera.html %}
      </div>-->
      <div class="block">
        <h2 class="txt-clr-white">Better Patient Outcomes</h2>
        <p class="p-lg txt-clr-white">
            Our processes manage complex data to produce easy to understand outputs, resulting in cost-effective improvements in patient outcomes and prevents the spread of antibiotic resistance.
        </p>
      </div>
      
    </div>
  </div>
</section>

<section class="expert-systems">
  <div class="inner">
    <div class="container">
        <h2 class="txt-center">Comprehensive Expert Systems</h2>
        <p class="blockquote">
            Our platforms analyzes data in seconds, allowing for appropriate antimicrobial therapy while optimizing patient outcomes. 
        </p>
        <div class="btn" data-contact="open">
          Request Information
        </div>
    </div>
  </div>
</section>

<section class="team" id="leadership">
  <div class="inner">
    <div class="container row">
      <div class="block with-anchor">
        <div class="anchor">Leadership</div>
      </div>
      <div class="content">
        <h2 class="txt-clr-midnight">Our Team</h2>
        <p>We create intelligence-driven healthcare solutions designed by practitioners for practitioners.</p>
        <div class="row">
            {% for member in site.data.team %}
              <div class="block" data-member="{{ forloop.index | minus: 1 }}">
                <div class="image-container">
                  <img src="{{ member.image }}" alt="Photo of {{ member.name }}" title="Photo of {{ member.name }}">
                </div>
                <div class="info">
                  <div class="h5">
                    {{ member.name }}{% if member.md %}, MD{% endif %}
                  </div>
                  <div class="title">
                    {{ member.title }}
                  </div>
                  {% if member.linkedIn %}
                    <a href="{{ member.linkedIn }}" target="_blank">
                        {% include linkedIn.html %}
                    </a>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="team-pic padding-top-none padding-bottom-none">
  <div class="inner">
    <div class="container image-container">
      <img src="/assets/images/team.jpg" alt="M2 Team" title="M2 Team">
    </div>
  </div>
</section>

<section class="cta" id="partnerships">
  <div class="inner">
    <div class="container row align-top">
      <div class="block">
        <div class="anchor">Partnerships</div>
      </div>
      <div class="content">
        <h2 class="txt-clr-white txt-center">Want to Work Together?</h2>
        <p class="txt-clr-white txt-center">Partnering with us means reduced cost of care, improved patient safety and care outcomes, and re-establishing antibiotic susceptibilities for your facility.</p>
        <div href="" class="btn" data-contact="open">Partner with Us</div>
      </div>
    </div>
  </div>
</section>



