// Button Component

// Default Styles
button, .btn {
  
  
  background-color: $ClrWhite;
  border-radius: $Base * 2;
  box-shadow: $BasicShadow;
  color: $ClrNight;
  cursor: pointer;
  display: inline-block;
  font-family: $FntHeader;
  font-size: 1rem;
  font-weight: 700;
  height: $ButtonHeight;
  letter-spacing: 0.01rem;
  line-height: $ButtonHeight;
  margin-top: $Base;
  padding: 0 $Base;
  transition-duration: 0.25s;

  &:focus,
  &:active {
    border: 0;
    outline: 0;
  }

  &:hover {
    box-shadow: $DarkShadow;
    transform: translateY(-5px);
  }

}

.button-line-styles {
  background-color: $ClrCloudy;
  bottom: $ButtonHeight / 2;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  width: 100vw;
  z-index: 1;
}
