header {
  background-color: $ClrWhite;
  box-shadow: $BasicShadow;
  left: 0;
  margin: 0 auto;
  max-width: $BaseMaxWidth;
  position: fixed;
  right: 0;
  top: 0;
  transition-duration: 0.25s;
  width: 100vw;
  z-index: 900;

  &.no-background {
    background-color: transparent;
    box-shadow: none;
  }

  &:after {
    content: none;
  }
    
  .inner {
    padding: 0;

    img {
      margin-left: $Base;
      margin-top: $Base / 8;
      max-width: $Base * 5;
      transition-duration: 0.25s;

      &.large {
        margin-top: 0;
        max-width: $Base * 7.5;
        transform: translateY( $Base / 2 );
        transform-origin: top left;
      }
    }

    nav {
      flex: 100;
      transition-duration: 0.25s;

      &.no-scroll {
        transform: translateY( $Base / 4 );
      }

      ul, li {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      li {
        font-size: 14px;
        padding-left: $Base;

        &:before {
          content: none;
        }

        a {
          color: $ClrBark;
          transition-duration: 0.25s;

          &:hover {
            color: $ClrNight;
          }
        }
      }
    }

    .cta-button {
      background-color: $ClrSky;
      color: $ClrWhite;
      cursor: pointer;
      font-size: 15px;
      margin: 0;
      padding: $Base / 1.5 $Base * 1.5;
      transition-duration: 0.25s;

      &:hover {
        background-color: $ClrNight;
      }
    }
  }
}
