input, textarea {
  @extend p;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $ClrWhite;
  color: $ClrWhite;
  margin-top: 0;
  outline: none;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100%;
}

label {
  display: block;
  text-align: left;
  width: 100%;
}
