.anchor-map {
  .inner {
    .container {
      @media (max-width: $BaseMediaSm) {
        display: block;
      }

      .block {
        padding-right: $Base;
        @media (max-width: $BaseMediaMd){
          padding-right: $Base / 2;

          p {
            margin-top: $Base / 6;
          }
        }
        @media (max-width: $BaseMediaSm) {
          display: flex;
          flex-direction: row;
          margin-bottom: $Base;

          &:last-of-type {
            margin-bottom: 0;
          }
        }

        .icon {
          align-items: center;
          border-radius: 50%;
          box-shadow: $BasicShadow;
          display: flex;
          flex-direction: row;
          height: $Base * 2;
          justify-content: center;
          margin-bottom: $Base / 2;
          width: $Base *2;
          @media (max-width: $BaseMediaMd){
            height: $Base * 1.5;
            width: $Base * 1.5;

            svg {
              max-height: $Base / 1.5;
              max-width: $Base / 1.5;
            }
          }
          @media (max-width: $BaseMediaSm) {
            margin-right: $Base / 2;
            min-height: $Base * 1.5;
            min-width: $Base * 1.5;
          }
        }

        .row {
          .h5 {
            margin: 0;
            transition-duration: 0.25s;
          }

          svg {
            margin-right: $Base / 4;
            transition-duration: 0.25s;
            @media (max-width: $BaseMediaMd){
              max-width: $Base / 2;
              max-width: $Base / 2;
            }

            g {
              transition-duration: 0.25s;
            }
          }

          &:hover  {
            cursor: pointer;

            .h5 {
              color: $ClrSky;
            }

            svg {
              transform: translateY(5px);

              g {
                stroke: $ClrBark;
              }
            }
          }
        }

        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }
}
