.cta {
  background: $BasicGradient;

  .inner {
    .container {
      padding-left: 0;
      position: relative;

      &:after {
        @extend .button-line-styles;
      }

      h2 {
        margin: 0;
      }

      .block:first-child {
        align-self: flex-start;
        flex: 0;

        .anchor {
          color: $ClrWhite;
        }
        
      }

      .content {
        padding: 0 $Base;
        position: relative;
        text-align: center;
        z-index: 2;
      }
      
    }
  }
}
