.cta {
  background: $BasicGradient;

  .inner {
    .container {
      padding-left: 0;
      position: relative;
      @media (max-width: $BaseMediaSm) {
        display: block;
      }

      &:after {
        @extend .button-line-styles;
      }

      h2 {
        margin: 0;
        @media (max-width: $BaseMediaSm) {
          margin-top: $Base;
        }
      }

      .block:first-child {
        align-self: flex-start;
        flex: 0;
        @media (max-width: $BaseMediaSm) {
          display: inline-block;
        }

        .anchor {
          color: $ClrWhite;
        }
        
      }

      .content {
        padding: 0 $Base;
        position: relative;
        text-align: center;
        z-index: 2;
        @media (max-width: $BaseMediaSm) {
          padding: 0 0 0 $Base / 2; 
        }
      }
      
    }
  }
}
