.expert-systems {
  background-color: $ClrShell;

  .inner {
    .container {
      position: relative;
      text-align: center;

      h2 {
        margin: 0;
      }

      .blockquote {
        margin: 0 auto;
        max-width: $Base * 20;
        @media (max-width: $BaseMediaMd) {
          margin-top: $Base / 2;
          max-width: $Base * 17;
        }
      }

      .btn {
        margin-top: $Base * 2;
        position: relative;
        z-index: 2;
        @media (max-width: $BaseMediaMd) {
          margin-top: $Base
        }
      }

      &:after {
        @extend .button-line-styles;
      }
    }
  }
}
