.hero {
  @media( max-width: $BaseMediaMd ){
    padding-bottom: $Base * 2.5 !important;
  }

  .inner {
    padding-right: 0;

    h1 {
      margin-bottom: 0;
      margin-top: $Base * 4;
      @media( max-width: $BaseMediaMd ){
        margin-top: 15vw;
      }
      @media( max-width: $BaseMediaSm ){
        margin-top: $Base;
      }
    }
    
    .container {
      align-items: stretch;

      @media (max-width: $BaseMediaSm) {
        flex-direction: column-reverse;
      }

      .block:first-of-type {
        min-width: $Base * 11;
        @media( max-width: $BaseMediaMd ){
          min-width: $Base * 8;
        }
        @media( max-width: $BaseMediaSm ){
          min-width: 0;
          padding-right: $Base / 2;
        }
      }

      .block:last-of-type {
        position: relative;
    

        @media (max-width: $BaseMediaSm) {
          min-height: 30vw;
        }
        @media (max-width: $BaseMediaTiny) {
          min-height: $Base * 4;
        }

        img {
          z-index: 1;
        }

        svg {
          bottom: -2px;
          height: 100%;
          left: -3px;
          position: absolute;
          width: auto;
          z-index: 2;
        }

      }
    }
  }
}
