.privacy-policy, .terms {
  border-bottom: $BasicBorder;

  &.terms {
    .h4 {
      text-transform: uppercase;
    }
  }

  .h4 {
    font-family: $FntBody;
  }

  .inner {
    max-width: $Base * 27;
  }

  h1 {
    margin: 0 auto;
    max-width: $Base * 14;

    span.avoidwrap { 
      display:inline-block; 
    }
  }

  &:after {
    content: none;
  }
}
