.team-pic {
  .inner {
    padding: 50% 0 0;
    

    .container {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      .image-container {
        
        width: 100%;
      }
    }
  }
}
