
.team {
  text-align: center;

  .inner {
    .container {
      padding-left: 0;
      position: relative;

      &:after {
        @extend .button-line-styles;
        bottom: $Base * 1.5 !important;
      }

      h2 {
        margin: 0 0 $Base / 4 0;

        ~p {
          margin: 0 auto;
          max-width: 520px;
        }
      }

      .block:first-child {
        align-self: flex-start;
        flex: 0;
        
      }

      .content {
        width: 100%;

        .row {
          padding-top: $Base * 2;
          position: relative;
          z-index: 2;

          .block {
            box-shadow: none;
            cursor: pointer;
            flex: 1;
            margin: 0 $Base / 2;
            transition-duration: 0.5s;

            &:hover {
              box-shadow: $BasicShadow;
            }

            &:first-of-type {
              margin-left: 0;
            }

            &:last-of-type {
              margin-right: 0;
            }

            .image-container {
              padding-top: 100%;
              width: 100%;
            }

            .info {
              background-color: $ClrWhite;
              padding: $Base / 4;

              .title {
                @extend .anchor;
                color: $ClrNight;
                padding: $Base / 6 0;
                white-space: initial !important;


              }

              .h5 {
                margin: 0;
              }
            }

          }
        }
      }

    }
  }
}
